.player {
    width: 800px;
    height: 600px;
    border-style: none;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.shadow {
    box-shadow: 0 0 3px 6px rgba(128, 128, 128, .6);
}

.btn-player {
    border-style: none;
    cursor: pointer;
    background-color: transparent;
    flex-grow: 0;
    color: white;
    font-size: 19px;
    width: 37px;
    height: 37px;
}

.video-container {
    flex-grow: 1;
}

.btn-panel {
    background-color: black;
    flex-grow: 0;
    display: flex;
    align-items: center;
    height: 40px;
}

.player-timeline {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.player-progress-bar {
    flex-grow: 1;
    cursor: pointer;
}

.progress-bar {
    display: flex;
    flex-direction: row;
}

.progress-slider {
    background-color: #f8104d;
    height: 5px;
    margin: 7px;
    border-radius: 6px;
}

.player-time {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.circle {
    height: 8px;
    width: 8px;
    background-color: #f8104d;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0 0 0 3px white;
    margin-left: -9px;
    opacity: 0;
    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease-out;
}

.btn-panel:hover .circle {
    opacity: 1;
    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease-in;
}